<nav class="burger-nav">
  <div class="nav-wrapper">
    <div class="logo">
      <i class="bi bi-stack"></i> 
      QUICK<span>BURGER</span>
    </div>

    <div class="menu-items">
      <a routerLink="/home" routerLinkActive="active" class="item">
        <i class="bi bi-grid-1x2-fill"></i> Dashboard
      </a>
      <a routerLink="/menu" routerLinkActive="active" class="item">
        <i class="bi bi-egg-fried"></i> Burger Menu
      </a>
      <a routerLink="/cart" routerLinkActive="active" class="item">
        <i class="bi bi-cart-check-fill"></i> Orders
      </a>
    </div>

    <div class="user-box">
      <div class="status-indicator"></div>
      <span class="user-name">Matheesha</span>
      <div class="user-avatar">M</div>
    </div>
  </div>
</nav>